body {
    font-family: Helvetica, sans-serif;
    font-size: 0.9rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

table {
    border-spacing: 10px;
    margin: -10px;
}

table td {
    padding: 0;
}

canvas {
    border: 2px darkgray ridge;
}

select, input, button {
    font-size: 0.9rem;
}
